.DS_Store
.env
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
data.db
/node_modules
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

instance/
__pycache__/
App/data.db